
h1 {color: purple; font-size: 56px;}
button {border: 2px solid #34495e;background-color: #3498db;color: white;}

.blessing {
border: 5px ridge #f00;
background-color: #ff0;
padding: .5rem;
/* display: flex;
flex-direction: column; */
}

.blessing img {
    width: 10%;
}

.testing p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}
