
body { 
    /* padding-top: 56px; */
    /* text-align: center; */
    font-family: "Montserrat", sans-serif;
    
}


h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat", sans-serif;
}


#phone {
    width: 100%;
}


#container {
    padding: 2.5% 0%;
    
}

#description {
    padding: 10% 5% ;
    margin-bottom: 20%;
}

.navbar-brand {
    font-family: "Montserrat-Black", sans-serif;
}

.nav-link {
    font-family: "Montserrat-Light", sans-serif;
  
}

.downbutton {

    margin: 5% 3% 5% 0;
}

.features {
    padding: 10% 5% ;
    text-align: center;
}


.thumbnail:hover {
    background-color: red;
    opacity: 0.5;
    }


.fa-7x:hover {
    color: #BF3433;
}